.cards {
	margin-top: 12px;
	@include clearfix();
}

.card {
	background: #fff;
	padding: 12px;
	width: calc(100%/3 - 8px);
	float: left;
	margin-bottom: 12px;
	
	&:not(:nth-child(3)) {
		margin-right: 12px;
	}

	&__name {
		@include iconTitle(handshake);
	}

	&__details {
		margin-top: 30px;

		&--item {
			margin-bottom: 20px;
			font-size: 15px;
			@include clearfix();
		}

		&--name,
		&--val {
			display: block;
		}

		&--name {
			width: 30%;
			float: left;
			text-align: right;
			padding-right: 15px;
			color: lighten($grey, 20%);
		}

		&--val {
			width: 70%;
			float: right;
			padding-left: 15px;
			line-height: 18px;
		}
	}
}