.title {
	font-size: 26px;
	color: $title;
	margin-bottom: 40px;
}

.checkbox {
	display: inline-block;
	// vertical-align: middle;
	user-select: none;
	cursor: pointer;
	transition: background-color .25s;

	&:hover,
	&.check-all .checkbox__input:checked ~ .checkbox__checkmark {
		background: $light-grey;
	}

	&__input {
		display: none;

		&:checked ~.checkbox__checkmark {
			&:before,
			&:after {
				display: block;
			}
		}
	}

	&__checkmark {
		position: relative;
		display: block;
		width: 15px;
		height: 15px;
		border: 1px solid $light-grey;
		transition: background-color .25s;

		&:before,
		&:after {
			display: none;
			content: "";
			position: absolute;
			background: $title;
			z-index: 1;
			border-radius: 2px;
		}

		&:before {
			top: 2px;
			width: 3px;
			right: 3px;
			height: 8px;
			transform: rotate(45deg);
		}

		&:after {
			top: 5px;
			left: 3px;
			width: 3px;
			height: 6px;
			transform: rotate(-44deg);
		}
	}
}

.label {
	color: #fff;
	padding: 5px;

	&.green {
		background-color: $green;
	}

	&.red {
		background-color: $red;
	}
}

.notes {
	background: #fff;
	padding: 12px;
	margin-top: 12px;

	&__title {
		@include iconTitle(handshake_blue, $blue);
	}
}