.table {
	&__head,
	&__item--head {
		height: 35px;
		line-height: 35px;
	}

	&__head {
		@include clearfix();

		li {
			float: left;
			display: block;;
		}
	}

	&__item {
		&.collapsed .chevron {
			transform: rotate(180deg);
		}

		&:not(.notes__table--item):hover {
			border-color: $grey;
		}
	}

	&__item--head {
		transition: all .25s;
		cursor: pointer;
		@include clearfix();

		p {
			float: left;
			font-size: 14px;
		}

		.checkbox__checkmark {
			transition: background-color .25s;

			&:hover {
				background-color: lighten($grey, 15%);
			}
		}

		&:hover {
			.checkbox__input:checked ~ .checkbox__checkmark,
			.checkbox__checkmark:hover {
				background-color: lighten($grey, 15%);
			}
		}

		&.checked {
			.checkbox__checkmark {
				background-color: lighten($grey, 15%);
			}
		}

		&:hover,
		&.checked {
			background: #3c4049;
			color: $light-grey;

			.checkbox__checkmark {
				&:before,
				&:after {
					background: $light-grey;
				}
			}

			.table__link--icon {
				fill: $light-grey;
			}
		}
	}

	&__item--body {
		display: none;
		margin: 0 12px;
	}

	&__link {
		text-decoration: none;

		&--icon {
			height: 16px;
			width: 16px;
			vertical-align: middle;
			fill: $grey;

			&.chevron {
				transition: transform .2s;
			}
		}
	}

	&__actions {
		float: left;
		text-align: left;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}

.request {
	&__checkbox {
		width: 2%;
		text-align: center;
		float: left;
	}

	&__id {
		width: 12%;
	}

	&__date {
		width: 12%;
	}

	&__client {
		width: 13%;
	}

	&__agent {
		width: 14%;
	}

	&__address {
		width: 17%;
	}

	&__deadline {
		width: 9%;
	}

	&__status {
		width: 8%;
	}

	&__actions {
		width: 13%;
	}
}

.valuation {
	&__item {
		background: $valuation-head;
		border-top-width: 1px;
		border-left-width: 1px;
		border-right-width: 1px;
		border-style: solid;
		border-color: darken($valuation-head, 10%);
		transition: border .25s;

		&:last-of-type {
			border-bottom-width: 1px;
		}

		&.collapsed {
			border-color: $grey;
			border-bottom-width: 1px;
		}

		&--body {
			.card__name {
				color: $blue;

				&:before {
					background-image: url('../images/handshake_blue.svg');
				}
			}
		}
	}

	&__checkbox {
		width: 2%;
		text-align: center;
		float: left;

		.checkbox__checkmark {
			border-color: darken($valuation-head, 10%);
		}
	}

	&__name {
		width: 20%;
	}

	&__topic {
		width: 35%;
	}

	&__status {
		width: 9%;
	}

	&__address {
		width: 11%;
	}

	&__date {
		width: 8%;
	}

	&__actions {
		width: 15%;
		float: left;
	}
}

.notes {
	font-size: 14px;

	&__table--head {
		height: 50px;
		line-height: 50px;
	}

	&__table--item {
		@include clearfix();
		height: 35px;
		line-height: 35px;
		background: lighten($light-grey, 5%);
		border-top: 1px solid $light-grey;

		&:last-of-type {
			border-bottom: 1px solid $light-grey;
		}

		p, .notes__checkbox {
			float: left;
		}
	}

	&__checkbox {
		width: 2%;
		text-align: center;

		.checkbox {
			vertical-align: text-top;

			&__checkmark {
				background: #fff;
			}
		}
	}

	&__type {
		width: 12%;
	}

	&__id {
		width: 15%;
	}

	&__topic {
		width: 16%;
	}

	&__date {
		width: 15%;
	}

	&__status {
		width: 12%;
	}

	&__appointed {
		width: 15%;
	}

	&__actions {
		width: 13%;
	}
}