// Colors
$grey: #3c4049;
$title: #545454;
$light-grey: #e7e7e7;
$green: #68ab68;
$red: #f34a51;
$orange: #ffa302;
$blue: #4a8df8;
$valuation-head: #eceff6;

// Mixins
@mixin clearfix() {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin iconTitle($name, $color:$grey) {
	position: relative;
	padding-bottom: 15px;
	border-bottom: 1px solid $light-grey;
	color: $color;

	&:before {
		content: '';
		display: inline-block;
		vertical-align: text-top;
		width: 16px;
		height: 16px;
		margin-right: 10px;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url('../images/#{$name}.svg');
	}
}