<head>
		<meta charset="UTF-8">
		<title>@@title</title>
		<link href='https://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="css/style.min.css">
	</head>