.header,
.nav {
	background: $grey;
}

.header {
	height: 70px;
	width: 100%;
	position: fixed;
	z-index: 3;
}

.nav {
	min-width: 200px;
	height: calc(100vh - 70px);
	top: 70px;
	position: fixed;
	z-index: 3;
}

main {
	float: right;
	width: calc(100% - 200px);
	padding: 25px;
	margin-top: 70px;
	min-width: 1000px; // Temporary
}